extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let petshopid = toShow._id
    - let petshopItemname = toShow.Itemname
    - let petshopQuantity = toShow.Quantity
    - let petshopprice = toShow.price
    - let actionid = "/resource/petshop/" + petshopid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='petshopAttr mr-3') petshop ID is:
        div(class='newAttr') #{petshopid}
      div.row
        div(class='petshopAttr mr-3') petshop Itemname is:
        div(class='newAttr') #{petshopItemname}
      div.row
        div(class='petshopAttr mr-3') petshop Quantity is:
        div(class='newAttr') #{petshopQuantity}
      div.row
        div(class='petshopAttr mr-3') petshop price is:
        div(class='newAttr') #{petshopprice}
      

    button(class="btn m-2" onclick="deleteOnid()") Delete
    button(class="btn m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/petshop'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/petshop'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }